.recommended{
    margin-left: 30px;
    width: 35%;
    .recommended-side-video{
        display: flex;
        margin-bottom: 20px;
        gap: 10px;
        h4{
            font-size: 13px;
            line-break:anywhere;
        }
        p{
            font-size: 12px;
            color: #5a5a5a;
            margin: 8px 0;
        }
        img{
            width: 40%;
            border-radius: 10px;
        }
    }
}

@media screen and (max-width:800px) {
    .recommended{
        width: 100%;
    }
}